/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

header {
  background: #93d9fa;
  padding: 1px;
  text-align: center;
}
p {
  text-align: left;
}
td {
  margin: 0;
  text-align: left;
}

.container {
  position: absolute;
  width: 100%;
  max-height: 100%;
  padding-top: 4px;
  padding-left: 15px;
  font-size: 18px;
  margin: auto;
  text-align: left;
}

.photo {
  align-items: center;
  padding: 0 10;
}

.message {
  align-items: center;
  padding: 0 10;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: normal;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.myCarousel {
  position: absolute;
  width: 60%;
  height: auto;
}
.myCarousel img {
  height: 750px;
}

.myResume {
  width: 100%;
  padding-left: 5%;
  align-self: left;
  max-height: 100%;
  padding-top: 5px;
  font-size: 18px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.myName {
  position: relative;
  text-align: right;
  align-self: left;
  font-size: 20px;
  font-style: bold;
  width: 50%;
}
.myAddress {
  width: 50%;
  position: relative;
  align-self: left;
  align-items: left;
  font-style: italic;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.myGrp {
  padding-left: 15px;
}
.myObjective {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px dashed;
}

.p_objective {
  position: relative;
  align-self: right;
}
.h4_title {
  width: 20%;
  padding-right: 10px;
}

.grpHdr {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.myExperience {
  width: 100%;
  padding-right: 10px;
}
.myDates {
  width: 15%;
  padding-right: 3px;
  text-align: left;
}
.myCompany {
  width: 25%;
  text-align: center;
  padding-right: 10px;
  text-align: left;
}
.myLocation {
  width: 30%;
}
.myPosition {
  font-style: italic;
  padding-left: 15px;
  padding-bottom: 10px;
}
.myResponsibility {
  width: 50%;
  padding-left: 5%;
  padding-bottom: 10px;
}
li {
  text-align: left;
  padding-left: 5px;
}

.navBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 42px;
}
.prvBtn {
  color: red;
  width: 10%;
  cursor: pointer;
}
.aImage {
  margin: 0;
  max-width: 100%;
  height: auto;
}
.nxtBtn {
  color: red;
  width: 10%;
  text-align: right;
  cursor: pointer;
}
.bx {
  font-size: 42px;
  color: red;
  cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #4a4a4a;
  overflow: hidden;
  margin-bottom: 5px;
  color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #5eccff;
  text-align: center;
  padding: 2px 14px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: green;
  font-style: bold;
  cursor: pointer;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #3797e6;
  color: white;
  font-style: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
